:root{
  /* common */
  --font-family-main: Arial, Helvetica, sans-serif;
  --font-size-default: 16px;
  --line-height: 1.6;

  --background-color: #303030;
  --background-blocks: #3e3e3e;
  --color-highlight:#007bff;
  --color:#e3e3e3;
  --text:#e3e3e3;
  --border-radius:9px;
}

/* Basic reset and general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-family-main);
  line-height: var(--line-height);
  font-size: var(--font-size-default);

  padding: 20px;
  background-color: var(--background-color);
  /* font-size: 16px; */
  color: var(--color);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #e3e3e3;
}

/* Header styles */
header {
  text-align: center;
  margin-bottom: 20px;
  background-image: url(https://s3.amazonaws.com/busites_www/jameyjohnson/pages/meta/banner_default_1467297777_1469130049.jpg);
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius);
}


header img, .artist-image {
  background-image: url(https://s3.amazonaws.com/busites_www/jameyjohnson/pages/meta/banner_default_1467297777_1469130049.jpg);
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

header>a>h1{
  text-shadow: 0 2px 5px rgba(0,0,0,1);
}

h1, h2 {
  margin-bottom: 15px;
  text-align: center;
}


.wrapper{
  max-width: 1024px;
  width: 80%;
  display: flex;
  margin: 0px auto;
  flex-direction: column;
}

/* Container styles */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  background-color: var(--background-blocks);
  border-radius: 9px;
  padding: 10px;
  flex-direction: row;
}

/* Column and box styles */
.column, .info-boxes {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
}

.column>span{
  padding-left: 15px;
}

.box, .filter {
  /* background-color: white; */
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
  flex-grow: 1;
}

/* Filter styles */
.dual-slider input[type="range"] {
  width: 100%;
}

.min_max input[type="number"] {
  width: 45%;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.locations_box input[type="text"] {
  width: 100%;
}

/* Search bar styles */
.search-container {
  margin-bottom: 20px;
}

#search {
  width: 100%;
  border: 0px;
  font-size: 16px;
  padding: 10px;
}

.search-container{
  background-color: var(--background-blocks);
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--background-color);
}

#suggestions {
	background-color: white;
	border-radius: var(--border-radius);
}

#suggestions>div{
  padding: 10px;
  color: var(--background-color);
}

#suggestions>div:hover {
  background-color: var(--color-highlight);
  border-radius: var(--border-radius);
  font-weight: bold;
}

/* Album container and album styles */
.album-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.album {
  border: 1px solid var(--background-blocks);
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--background-blocks);
}

.album:hover{
  border: 1px solid var(--color-highlight);
}

.album img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.album-info {
  padding: 10px;
}

/* Button styles */
.apply-filters-btn, .back button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.apply-filters-btn:hover, .back button:hover {
  background-color: #0056b3;
}

/* Artist page specific styles */
.back {
  margin-bottom: 20px;
}

.relations h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.relations ul {
  list-style-type: none;
  padding-left: 10px;
}

#map {
  min-width: 300px;
  height: 400px;
  border-radius: var(--border-radius);
}

/* Responsive adjustments */
@media  (min-width: 768px) and (max-width: 1024px) {
  /* body{
    background-color: green !important;
  } */

  .wrapper{
    width: 100%;
  }
  .album-container {
    grid-template-columns: repeat(auto-fill, minmax(180, 1fr));
  }
}

@media (max-width: 767px) {
  /* body{
    background-color: red;
  } */

  .wrapper{
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .column, .info-boxes, #map {
    width: 100%;
  }

  .album-container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

/* 
@media screen and (max-width: 480px) {
  body {
    padding: 10px;
    font-size: 24px;
    background-color: red !important;
  }

  .wrapper{
    width: 90%;
  }

  .album-container {
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    gap: 10px;
  }


  #search, .apply-filters-btn, .back button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
 */
